extends layout

block content
  h1= title
  p Welcome to #{title} 

  div(class="container-fluid")
     div(class="row m-1")
        each item,index in results
            - let destination = `dispatch(\"/Dining/update?id=${item._id}\")`
            div.col-sm-2(onclick=`buy(${index})`) Dining Style: #{item["Dining_style"]}  <br>  Dining Type: #{item["Dining_type"]} <br> Dining Size: #{item["Dining_size"]}
            button.btn( class="btn-primary ml-1", onclick= destination) Update 

   
  script.
    function buy(index){
      alert("you purchased item "+(index+1))
    }

  script. 
    function dispatch(path){ 
      window.location.href=path 
    }